<!DOCTYPE html>
<html>
  <head>
    <title>Loose</title>
    <%= csrf_meta_tags %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">    
    <%= csp_meta_tag %>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = {
          "id": <%= current_user.id  %>
        }
      </script>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
