<!DOCTYPE html>
<html>
  <head>
    <title>Loose</title>
    <%= csrf_meta_tags %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <%= csp_meta_tag %>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = {
          "id": <%= current_user.id  %>
        }
      </script>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
